<aside class="sidebar" aria-label="Primary navigation">
  <button class="sidebar__hamburger" data-tooltip="Not part of this prototype" aria-label="Menu">
    <img src="assets/icons/bars-3.svg" alt="" width="22" height="22" />
  </button>
  <nav class="sidebar__nav" aria-label="Sections">
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Charts"><img src="assets/icons/presentation-chart-line.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Maps"><img src="assets/icons/cube.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Cloud"><img src="assets/icons/cloud.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Team"><img src="assets/icons/users.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Permissions"><img src="assets/icons/lock-closed.svg" alt="" width="20" height="20" /></a>
    <a href="./" class="sidebar__item" data-nav-key="designer-tools" aria-label="Designer tools"><img src="assets/icons/paint-brush.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Editor"><img src="assets/icons/pencil-square.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Embed"><img src="assets/icons/code-bracket.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Undo"><img src="assets/icons/arrow-uturn-left.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Settings"><img src="assets/icons/cog-6-tooth.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Chat"><img src="assets/icons/chat-bubble-left.svg" alt="" width="20" height="20" /></a>
    <a href="#" class="sidebar__item" data-tooltip="Not part of this prototype" aria-label="Help"><img src="assets/icons/question-mark-circle.svg" alt="" width="20" height="20" /></a>
  </nav>
</aside>
<header class="topbar">
  <a href="./" class="topbar__brand" data-tooltip="Not part of this prototype" aria-label="Everviz home">
    everviz<span class="topbar__brand-dot" aria-hidden="true">.</span>
  </a>
  <nav class="topbar__crumb" aria-label="Breadcrumb">
    <a href="./" class="topbar__crumb-parent" data-chrome-crumb-parent>Designer tools</a>
    <span class="topbar__crumb-sep" data-chrome-crumb-sep aria-hidden="true">/</span>
    <span data-chrome-breadcrumb>Designer tools</span>
  </nav>
</header>
